/*  #Style First Screen (Home)
================================================*/
page-home {
  [default-background] {
    // background-image: url("../assets/images/background/29.jpg");
    background-color: #000 !important;
    height: 100%;
    width: 100%;
    display: table;

    .ionic-description {
      display: table-cell;
      vertical-align: middle;

      h2[item-title] {
        margin: 0;
      }

      p[item-subtitle] {
        color: theme-colors('mainColors', 'secondary') !important;
      }
    }

    a {
      color: theme-colors('textColors', 'accent') !important;
      text-decoration: underline;
      visibility: visible !important;
      position: absolute;
      bottom: 25px;
      left: 25px;
    }
  }

  .toolbar-title {
    text-overflow: unset;
    white-space: unset;
    font-size: 1.5rem;
 }

  ion-header {
    .toolbar-content-ios {
      .title-ios {
        width: 85%;
        left: 10px;
      }

      .button-ios {
        height: 3rem;
        position: absolute;
        right: 5px;
        top: 20px;
      }
    }

    ion-title {
      width: 70%;
    }

    [defoult-button] {
      background: #0bb1af;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .bar-subheader {
    height: 150px !important;
  }

  [wizard-titl] {
    z-index: 9;
    position: relative;
    vertical-align: middle;
  }

  .swiper-slide {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }

  [default-button] {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .swiper-pagination {
    bottom: 15px !important;

    .swiper-pagination-bullet {
      background: theme-colors('mainColors', 'secondary') !important;
    }
  }

  ion-slides {
    height: 150px;
    margin-top: 10px;
  }

  [wizard-title] {
    z-index: 2;
    position: relative;
  }

  .swiper-pagination {
    bottom: 20px;
  }

  .swiper-wrapper {
    height: 90%;
  }

  .swiper-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .chooseCountry{
     
    .alert-title {
      text-align: center;
    }
    .alert-sub-title {
      text-align: center;
    }
  
    .alert-message {
      text-align: center;
    }
  
    .alert-button-inner {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
  }
  #map {
    width: 100%;
    height: 100%;
  }
  
}
