<!-- Main Menu Header -->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon class="icon-menu" name="menu"></ion-icon>
        </button>
        <ion-title text-uppercase></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openLogin()">
                <ion-icon name="person"></ion-icon>
            </button>
            <button ion-button icon-only padding-left (click)="onClickLanguage(1)">
                <img src="assets/images/flag/en-flag-active.jpg" style="height: 15px;" alt="" *ngIf="lang == '1'">
                <img src="assets/images/flag/en-flag.jpg" style="height: 15px;" alt="" *ngIf="lang == '2'">
            </button>
            <button style="padding-left: 5px;" ion-button icon-only (click)="onClickLanguage(2)">
                <img src="assets/images/flag/thai-flag-active.jpg" style="height: 15px;" alt="" *ngIf="lang == '2'">
                <img src="assets/images/flag/thai-flag.jpg" style="height: 15px;" alt="" *ngIf="lang == '1'">
            </button>

        </ion-buttons>
    </ion-navbar>
    <ion-header-bar custom-subheader class="bar-subheader bar-stable">
        <ion-slides pager="true" autoplay="5000" loop="true" speed="500" *ngIf="banners">
            <ion-slide background-size *ngFor="let img of banners.listBanner">
                <img [src]="img.imageUrl" style="width: -webkit-fill-available; height: -webkit-fill-available;"
                    (click)="presentAlert(img)">
            </ion-slide>
        </ion-slides>
    </ion-header-bar>
    <ion-header-bar custom-subheader class="bar-subheader bar-stable">
        <!-- <div style="width: 100%; height: 350px ; ">
            <div #map id="map" ></div>
        </div> -->
        <div #map id="map" style="width: 100%; height: 350px ; margin-left: 5px; margin-right: 5px;"></div>
        <br>
        <div text-center>
            <img src="../../assets/icon/magnifier.png" alt="" (click)="choseCountry()">
            <br>
            <h2 item-title text-center>BUSINESS AREA</h2>
        </div>
    </ion-header-bar>

</ion-header>

<!-- Main Menu List -->
<ion-content background-size default-background >

    <br>
    <!-- <div #map id="map" style="width: 100%; height: 350px ; margin-left: 5px; margin-right: 5px;" ></div> -->
    <br>

    <br>


</ion-content>