<ion-header>
    <wizard-layout-2 [data]="headerData.data">
    </wizard-layout-2>
</ion-header>

<ion-content>
    <register-layout-2 [data]="params.data" [events]="params.events">
    </register-layout-2>

</ion-content>