<ion-header>
  <wizard-layout-2 [data]="headerData.data">
  </wizard-layout-2>
</ion-header>

<ion-content class='has-header has-subheader' padding *ngIf="params.data.background!=null" background-size default-background
  [ngStyle]="{'background-image': 'url(' + params.data.background + ')'}">

  <login-layout-1 [data]="params.data" [events]="params.events">
  </login-layout-1>


</ion-content>