<!--- Theme Parallax Product -->
<!--- Header Big Image-->
<ion-content elastic-header *ngIf="data != null">
  <div background-size id="elastic-header"
   [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
    <div class="title">
      <h2 parallax-subtitle>{{data.description}}</h2>
      <h1 parallax-title>{{data.title}}</h1>
    </div>
    <div social>
      <ion-icon (click)="onEvent('onLike', data)">
        <i class="icon {{data.iconLike}}"></i>
      </ion-icon>
      <ion-icon (click)="onEvent('onFavorite', data)">
        <i class="icon {{data.iconFavorite}}"></i>
      </ion-icon>
      <ion-icon (click)="onEvent('onShare', data)">
        <i class="icon {{data.iconShare}}"></i>
      </ion-icon>
    </div>
  </div>
  <!--Content-->
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
            <ion-avatar item-left>
              <img [src]="item.image">
            </ion-avatar>
            <h2 item-title>{{item.title}}</h2>
            <h3 item-subtitle>{{item.description}}</h3>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
  <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
