<ion-navbar>
    <button ion-button menuToggle>
        <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase>{{data.headerTitle}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openLogin()">
            <ion-icon name="person"></ion-icon>
        </button>
        <button ion-button icon-only padding-left>
            <img src="../../assets/images/flag/en-flag-active.jpg" style="height: 15px;" alt="">
        </button>
        <button ion-button icon-only>
            <img src="../../assets/images/flag/thai-flag.jpg" style="height: 15px;" alt="">
        </button>

    </ion-buttons>
</ion-navbar>
<ion-header-bar custom-subheader class="bar-subheader bar-stable">
    <img src="../../assets/images/gallery/banner.png" style="width: fit-content;" height="100px">
</ion-header-bar>
