<ion-navbar>
    <button ion-button menuToggle>
        <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase></ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openLogin()">
            <ion-icon name="person"></ion-icon>
        </button>
        <button ion-button icon-only padding-left (click)="onClickLanguage(1)">
            <img src="assets/images/flag/en-flag-active.jpg" style="height: 15px;" alt="" *ngIf="lang == '1'">
            <img src="assets/images/flag/en-flag.jpg" style="height: 15px;" alt="" *ngIf="lang == '2'">
        </button>
        <button style="padding-left: 5px;" ion-button icon-only (click)="onClickLanguage(2)">
            <img src="assets/images/flag/thai-flag-active.jpg" style="height: 15px;" alt="" *ngIf="lang == '2'">
            <img src="assets/images/flag/thai-flag.jpg" style="height: 15px;" alt="" *ngIf="lang == '1'">
        </button>
    </ion-buttons>
</ion-navbar>
<ion-header-bar custom-subheader class="bar-subheader bar-stable">
    <ion-slides pager="true" autoplay="5000" loop="true" speed="500" *ngIf="!banners">
        <ion-slide background-size>
            <img src="assets/images/gallery/banner3.png"
                style="width: -webkit-fill-available; height: -webkit-fill-available;">
        </ion-slide>
    </ion-slides>
    <ion-slides pager="true" autoplay="5000" loop="true" speed="500" *ngIf="banners">
        <ion-slide background-size *ngFor="let img of banners.listBanner">
            <img [src]="img.imageUrl" style="width: fit-content;" height="100px" (click)="presentAlert(img)">
        </ion-slide>
    </ion-slides>
</ion-header-bar>