<!--  Theme Form - Form + Write Comment -->
<ion-content>
  <ion-grid class="modal_content">
    <ion-row padding>

      <ion-col col-12 style="text-align: -webkit-center; width: 50%">
        <button ion-button default-button block text-capitalize (click)="onEvent('onSubmit', $event)">
          1 Year $10
        </button>
      </ion-col>
      <ion-col col-12 style="text-align: -webkit-center;">
        <p text-wrap ion-text color="secondary">Payment with apple strore ....</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>