<!--Theme Profile - Profie With Avatar-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-col col-12>
      <ion-card padding>
        <ion-avatar>
          <img [src]="data.image" alt="">
        </ion-avatar>
        <ion-card-content text-center>
          <h1 item-title>{{data.title}}</h1>
          <p item-subtitle>{{data.subtitle}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <span text-center font-bold ion-text color="secondary" text-uppercase margin-top>{{data.category}}</span>
    <ion-col col-12 text-center *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item, $event)">
      <ion-card padding>
        <ion-card-content text-center>
          <span font-bold card-subtitle text-uppercase>{{item.category}}</span>
          <h1 card-title margin-top text-wrap>{{item.title}}</h1>
        </ion-card-content>
        <button transparent ion-button button-icon-clear text-capitalize icon-start clear (click)="onEvent('onLike', item, $event)">
          <ion-icon ion-text color="accentLight" [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
           <p ion-text color="accentLight">{{item.like.text}}</p>
        </button>
        <button transparent ion-button button-icon-clear text-capitalize icon-start clear (click)="onEvent('onComment', item, $event)">
          <ion-icon ion-text color="accentLight" [ngClass]="{'active' : item.comment.isActive}" [name]="item.comment.icon"></ion-icon>
          <p ion-text color="accentLight">{{item.comment.number}} {{item.comment.text}}</p>
        </button>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
