/*  #Style Profile - Profile With Avatar
================================================*/
profile-layout-1 {
  img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }

  .active {
    color: theme-colors('textColors', 'primary') !important;
  }
}
