<!--Profile- Profile 1-->
<ion-content *ngIf="data != null" background-size [ngStyle]="{'background-image': 'url(' + bgImage + ')'}">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card transparent text-center>
          <ion-item transparent text-center>
            <h1 style="white-space: normal;" ion-text color="secondary">{{data.name}}</h1>
            <br>
            <p text-wrap ion-text color="secondary">User Type : {{data.type}}</p>
            <p text-wrap ion-text color="secondary">Status : {{data.status}}</p>
            <p text-wrap ion-text color="secondary">Subscribe : {{data.member}} </p>
            <p text-wrap ion-text color="secondary"><ion-icon (click)="onEvent('onClickPayment')" icon-small name="card" item-start><u>Upgrade to Premium User</u></ion-icon></p>
          </ion-item>
          <ion-row no-padding>
            <!-- Info Author-->
            <ion-col col-12 text-left>
              <ion-item transparent>

                <h1 padding-top item-title>Information</h1>
              </ion-item>

              <ion-item no-lines transparent>
                <ion-icon icon-medium name="ios-phone-portrait" item-start></ion-icon>
                <h2 subitem-title ion-text color="secondary">{{data.phone}}</h2>
              </ion-item>
              <ion-item no-lines transparent>
                <ion-icon icon-medium name="mail-open" item-start></ion-icon>
                <h2 subitem-title ion-text color="secondary">{{data.email}}</h2>
              </ion-item>
              <ion-item no-lines transparent>
                <ion-icon icon-medium name="globe" item-start></ion-icon>
                <h2 subitem-title ion-text color="secondary">{{data.country}}</h2>
              </ion-item>
              <ion-item no-lines transparent>
                <ion-icon icon-medium name="briefcase" item-start></ion-icon>
                <h2 subitem-title ion-text color="secondary">{{data.bussinessField}}</h2>
              </ion-item>
              <ion-item no-lines transparent>
                <ion-icon icon-medium name="briefcase" item-start></ion-icon>
                <h2 subitem-title ion-text color="secondary">{{data.profession}}</h2>
              </ion-item>

            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>