/*  #Style Profile - Profile 1
================================================*/
profile-layout-5 {
  ion-avatar {
    img {
      width: 120px !important;
      height: 120px !important;
      margin: 15px auto 20px;
      border: 2px solid theme-colors('mainColors', 'accentLight');
    }
  }

  ion-card {
    box-shadow: none !important;
  }

  .button-inner {
    display: block;
  }

  [small-font] {
    clear: both;
    display: block;
  }

  ion-item {
    border-radius: 4px;
  }

  .button {
    display: inline-flex;
  }

  .blur{
    filter: blur(3px);
  }

  .watermarked{
    position:absolute;
    z-index:0;
    background:transparent;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:yellow;
  }

  .wt-text{
      color:lightgrey;
      font-size:25px;
      -webkit-transform:rotate(320deg);
      margin-top: 150px;
      margin-left: 30px;
  }
}
