<!--Profile- Profile 1-->
<ion-content *ngIf="data != null && companyData != null" background-size
  style="background-color: #000 !important">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card transparent text-center>
          <ion-item transparent text-center>
            <ion-avatar>
              <img [src]="companyData.company_info.company_info.anpc_profile_url" alt="">
            </ion-avatar>
            <h1 style="white-space: normal;" ion-text color="secondary">
              {{companyData.company_info.company_info.alpc_company_name}}</h1>
            <br>
            <p text-wrap ion-text color="secondary">{{companyData.company_info.company_info.alpt_product_type_name}}</p>
          </ion-item>
          <ion-row no-padding>
            <!-- Info Author-->
            <ion-col col-12 text-left *ngFor="let item of data.items;let i = index">
              <ion-item transparent style="margin-bottom: -20px;">
                <h1 item-title ion-text>{{companyData.title_name.almpc_menu_CompanyInformation}}</h1>
                <p item-subtitle padding-top text-wrap style="color: #ffffff !important">{{companyData.company_info.company_info.alpc_company_info}}</p>

              </ion-item>
              <ion-item transparent style="margin-bottom: -20px;">
                <h1 padding-top item-title>Product & Services</h1>
              </ion-item>
              <br>
              <ion-row>
                <ion-slides pager="true" autoplay="5000" loop="true" speed="500"
                  *ngIf="companyImg && companyImg.length">
                  <ion-slide background-size *ngFor="let img of companyImg">
                    <div text-center>
                      <img [src]="img.imgUrl" style="width: fit-content;" height="100px">
                      <br>
                      <h1 padding-top item-title >{{companyData.title_name.almpc_menu_CompanyInformation}}</h1>
                      <br>
                    </div>

                  </ion-slide>
                </ion-slides>
              </ion-row>
              <ion-item transparent style="margin-bottom: -20px;">
                <h1 padding-top item-title>{{companyData.title_name.almpc_menu_Hiring}}</h1>
              </ion-item>
              <div (click)="onEvent('clickRegister', item, $event)">
                <div class="watermarked" *ngIf="!isPremium ==1" tappable>
                  <!-- <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" class="wt-text"><b>members only! Please sign up</b></h2> -->
                </div>
                <ion-item no-lines transparent [ngClass]="!isPremium ? 'blur': 'XXX'" *ngFor="let hiring of hiringData">
                  <ion-icon style="color:green; font-size: 32px !important;" name="checkmark" item-start></ion-icon>
                  <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" subitem-title ion-text color="secondary">
                    {{hiring.allf_looking_for_name}}</h2>
                  <p padding-top text-wrap style="color: #ffffff !important">{{hiring.amlf_description}} XX</p>
                </ion-item>

                <ion-item transparent style="margin-bottom: -30px;">
                  <h1 padding-top item-title>{{companyData.title_name.almpc_menu_DepartmentContacts}}</h1>
                  <div *ngFor="let deptContact of departmentContactData">
                    <h2 padding-top item-title style="margin-top: -5px;" *ngIf="deptContact.andct_isDesc != 1">
                      {{deptContact.aldct_department_name}}</h2>
                    <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'" style="margin-top: -5px;" *ngIf="deptContact.andct_isDesc != 1">
                      <h2 subitem-title ion-text color="secondary">{{companyData.title_name.almpc_menu_ContactPerson}}
                      </h2>
                      <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'"
                        style="margin-top: -5px;">
                        <h2 item-subtitle ion-text style="color: #ffffff !important" item-start>
                          {{companyData.title_name.almpc_field_Name}} : </h2>
                        <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" item-subtitle ion-text style="color: #ffffff !important">
                          {{deptContact.almdc_name}}</h2>
                      </ion-item>
                      <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'"
                        style="margin-top: -30px;" (click)="phoneCall(deptContact.almdc_telephone)">
                        <h2 item-subtitle ion-text style="color: #ffffff !important" item-start>
                          {{companyData.title_name.almpc_field_Number}} : </h2>
                        <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" item-subtitle ion-text style="color: #ffffff !important">
                          {{deptContact.almdc_telephone}}</h2>
                      </ion-item>
                      <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'"
                        style="margin-top: -30px;">
                        <h2 item-subtitle ion-text style="color: #ffffff !important" item-start>
                          {{companyData.title_name.almpc_field_Email}} : </h2>
                        <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" item-subtitle ion-text style="color: #ffffff !important">
                          {{deptContact.almdc_email}}</h2>
                      </ion-item>
                    </ion-item>
                    <ion-item no-lines transparent *ngIf="deptContact.andct_isDesc == 1" style="margin-top: -30px;">
                      <h2 subitem-title ion-text style="color: #ffffff !important">Hiring</h2>
                      <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'"
                         (click)="phoneCall(deptContact.almdc_telephone)">
                        <h2 item-subtitle ion-text style="color: #ffffff !important" item-start>
                          {{deptContact.amlf_description}} Looking for Sales</h2>
                      </ion-item>
                    </ion-item>
                  </div>
                </ion-item>

                <div class="watermarked" *ngIf="data.blur ==1">
                  <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" class="wt-text"><b>members only! Please sign up</b></h2>
                </div>
                <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'">
                  <h1 padding-top item-title>{{companyData.title_name.almpc_menu_Contact}}</h1>
                </ion-item>
                <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'">
                  <ion-icon icon-medium name="pin" item-start></ion-icon>
                  <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" style="white-space: normal;" subitem-title ion-text
                    color="secondary">
                    {{companyData.company_info.company_info.alpc_contract_address}}
                    {{companyData.company_info.company_info.alpc_contract_city}}
                    {{companyData.company_info.company_info.alpc_contract_state}}
                    {{companyData.company_info.company_info.alpc_contract_postal_code}}</h2>
                </ion-item>
                <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'"
                  (click)="phoneCall(companyData.company_info.company_info.alpc_contract_telephone)">
                  <ion-icon icon-medium name="{{item.iconPhone}}" item-start></ion-icon>
                  <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" subitem-title ion-text color="secondary">
                    {{companyData.company_info.company_info.alpc_contract_telephone}}</h2>
                </ion-item>
                <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'">
                  <ion-icon icon-medium name="{{item.iconMail}}" item-start></ion-icon>
                  <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" subitem-title ion-text color="secondary">
                    {{companyData.company_info.company_info.alpc_contract_email}}</h2>
                </ion-item>
                <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'">
                  <ion-icon icon-medium name="{{item.iconGlobe}}" item-start></ion-icon>
                  <h2 [ngClass]="!isPremium ? 'blur': 'XXX'" subitem-title ion-text color="secondary">
                    {{companyData.company_info.company_info.alpc_contract_website}}</h2>
                </ion-item>
                <ion-item no-lines transparent [ngClass]="data.blur == 1 ? 'blur': 'XXX'">
                  <ion-icon icon-medium name="locate" item-start></ion-icon>
                  <button ion-button default-button text-center>LOCATION</button>
                </ion-item>


              </div>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>

              <agm-map [latitude]="13.59427" [longitude]="100.23209" [zoom]="15" [mapTypeControl]="true"
                [streetViewControl]="true">
                <agm-marker [latitude]="13.59427" [longitude]="100.23209"></agm-marker>
              </agm-map>
            </ion-col>
          </ion-row>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>