<!--Theme Alert - Alert Info -->
<ion-content padding-top>
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col col-12 col-lg-4 *ngFor="let item of data.items;let i = index" (click)="presentAlert(item)">
      <ion-card text-left margin-bottom padding>
          <img [src]="item.image" />
        <ion-card-content no-padding margin-top >
          <h2 card-subtitle text-capitalize>{{item.subtitle}}</h2>
          <h1 card-title>{{item.title}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
