<!-- Themes Login + logo -->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row padding>
      <ion-col padding-top col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Input field username-->
        <ion-item color="accent">
          <ion-label color="secondary" floating>{{data.username}}</ion-label>
          <ion-input required type="text" [(ngModel)]="username"></ion-input>
            <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>
        </ion-item>
        <!---Input field password-->
        <ion-item color="accent">
          <ion-label color="secondary" floating>{{data.password}}</ion-label>
          <ion-input required type="password" [(ngModel)]="password"></ion-input>
          <ion-label error-field color="secondary" no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label>
        </ion-item>
        <!---Login button-->
        <button ion-button button-clear clear float-right (click)="onEvent('onRegister')">{{data.register}}</button>
        <!---Register button-->
        <button ion-button button-clear clear float-right (click)="onEvent('onLogin')">{{data.login}}</button>
      </ion-col>
      <!---Share Section-->
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social>
        <!---Facebook button-->
        <button ion-button color="facebook" (click)="onEvent('onFacebook')">Facebook</button>
        <!---Twitter button-->
        <button ion-button color="twitter" (click)="onEvent('onTwitter')">Twitter</button>
        <!---Google button-->
        <button ion-button color="google" (click)="onEvent('onGoogle')">Google</button>
        <!---Pinterest button-->
        <button ion-button color="pinterest" (click)="onEvent('onPinterest')">Pinterest</button>
      </ion-col>
      <!---End Share Section-->
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!--LOGO-->
        <ion-thumbnail float-left>
          <img [src]="data.logo">
        </ion-thumbnail>
        <!---Skip button-->
        <button float-right ion-button button-clear clear (click)="onEvent('onSkip')">{{data.skip}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
