<!-- Themes Register + Image -->
<ion-content background-size [ngStyle]="{'background-image': 'url(' + bgImage + ')'}">
  <ion-grid *ngIf="data != null" style="background-color: transparent;">
      <ion-row wrap padding style="background-color : rgba(247, 247, 247, 0.19);">
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!--Logo-->
        <div padding-bottom class="logo">
          <ion-thumbnail>
            <img [src]="data.logo" style="height:100px;">
          </ion-thumbnail>
        </div>
        <!--End logo-->
        <!--Form-->
        <div class="form">
          <ion-item class="bg-trans">
            <ion-label color="secondary" floating >User Type</ion-label>
            <ion-select [(ngModel)]="userType">
              <ion-option  *ngFor="let type of accoutTypes" [value]="type.aat_id">{{type.aat_name_type}}</ion-option>
            </ion-select>
            <ion-label error-field color="secondary" no-margin *ngIf="!isUserTypeValid">{{data.error}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for username-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconAccount}}"></i>
            </ion-icon>
            <!---Input field username-->
            <ion-label floating>{{data.username}}</ion-label>
            <ion-input required type="text" [(ngModel)]="username"></ion-input>
            <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for password-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconLock}}"></i>
            </ion-icon>
            <!---Input field password-->
            <ion-label floating>{{data.password}}</ion-label>
            <ion-input required type="password" [(ngModel)]="password"></ion-input>
            <ion-label error-field color="secondary" no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}
            </ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for name-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconName}}"></i>
            </ion-icon>
            <!---Input field city-->
            <ion-label floating>{{data.name}}</ion-label>
            <ion-input required type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="name"></ion-input>
            <ion-label error-field *ngIf="!isNameValid">{{data.errorName}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for email-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconEmail}}"></i>
            </ion-icon>
            <!---Input field email-->
            <ion-label floating>{{data.email}}</ion-label>
            <ion-input required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              [(ngModel)]="email"></ion-input>
            <ion-label error-field *ngIf="!isEmailValid">{{data.errorEmail}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for country-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconWeb}}"></i>
            </ion-icon>
            <!---Input field country-->
            <ion-label floating>{{data.country}}</ion-label>
            <ion-select [(ngModel)]="country">
                <ion-option  *ngFor="let country of countries" [value]="country.alml_nature_id">{{country.alml_country_name}}</ion-option>
              </ion-select>
            <ion-label error-field *ngIf="!isCountryValid">{{data.errorCountry}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for city-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconCity}}"></i>
            </ion-icon>
            <!---Input field city-->
            <ion-label floating>{{data.city}}</ion-label>
            <ion-input required type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="city"></ion-input>
            <ion-label error-field *ngIf="!isCityValid">{{data.errorCity}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for Tel-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconTel}}"></i>
            </ion-icon>
            <!---Input field Tel-->
            <ion-label floating>{{data.tel}}</ion-label>
            <ion-input required type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="tel"></ion-input>
            <ion-label error-field *ngIf="!isTelValid">{{data.errorTel}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for Tel-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconBag}}"></i>
            </ion-icon>
            <!---Input field Tel-->
            <ion-label floating>{{data.businessField}}</ion-label>
            <ion-input required type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="businessField"></ion-input>
            <ion-label error-field *ngIf="!isBusinessFieldValid">{{data.errorBusinessField}}</ion-label>
          </ion-item>
          <ion-item class="bg-trans">
            <!--Icon for Tel-->
            <ion-icon item-left>
              <i icon-small class="icon {{data.iconBag}}"></i>
            </ion-icon>
            <!---Input field Tel-->
            <ion-label floating>{{data.profession}}</ion-label>
            <ion-input required type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="profession"></ion-input>
            <ion-label error-field *ngIf="!isProfessionValid">{{data.errorProfession}}</ion-label>
          </ion-item>
          <br>
          <button ion-button clear button-clear (click)="onEvent('onClickTerm')"><u>Term &
              Condition</u></button>
          <div style="display: flex; align-items: center;" padding-left>
            <ion-checkbox [(ngModel)]="agree" ></ion-checkbox>
            <span padding-left text-capitalize ion-text color="secondary" text-uppercase>I'm Agree with Term & Condition
            </span>

          </div>

          <ion-item class="bg-trans">
            <ion-label error-field *ngIf="!isAgree">{{data.errorAgree}}</ion-label>
          </ion-item>
          


          <br>

          <!---Register button-->
          <button ion-button float-right clear button-clear (click)="clickRegister()">{{data.submit}}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>