/*  #Style -- Form + Write Comment
================================================*/
form-layout-1 {
  .scroll-content {
    padding-bottom: 0 !important;

    ion-grid {
      height: 100%;
      padding: 0 !important;

      ion-row {
        height: 100%;
      }
    }
  }

  [textarea] {
    height: calc(100% - 170px);
    min-height: 280px;

    ion-item {
      height: 100%;

      textarea {
        height: calc(100% - 30px);
      }
    }
  }
  
  .item.item-input.input-has-focus .item-inner,
  .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}
