<!--Profile- Profile With Slider + Comments-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col col-12 align-self-start>
        <ion-card profile padding text-center>
          <ion-avatar>
            <img [src]="data.image" alt="">
          </ion-avatar>
          <ion-card-content text-center>
            <h1 ion-text color="secondary">{{data.title}}</h1>
            <p ion-text color="secondary">{{data.subtitle}}</p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button button-clear clear no-padding>
                <span small-font font-bold ion-text color="secondary">{{data.valueFollowers}}</span>
                <span text-capitalize ion-text color="secondary">{{data.followers}}</span>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button button-clear clear no-padding>
                <span small-font font-bold ion-text color="secondary">{{data.valueFollowing}}</span>
                <span text-capitalize ion-text color="secondary">{{data.following}}</span>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button button-clear clear no-padding>
                <span small-font font-bold ion-text color="secondary">{{data.valuePosts}}</span>
                <span text-capitalize ion-text color="secondary">{{data.posts}}</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <!-- Slider-->
      <ion-col col-12 align-self-start text-center>
        <span span-small text-uppercase margin-top>{{data.category}}</span>
        <ion-slides pager="true">
          <ion-slide text-center padding *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item, $event)">
            <ion-card padding>
              <span span-medium text-uppercase>{{item.category}}</span>
              <h1 card-title margin-top margin-bottom text-wrap>{{item.title}}</h1>
              <button transparent ion-button button-icon-clear text-capitalize icon-start clear (click)="onEvent('onLike', item, $event)">
                <ion-icon ion-text color="accentLight" [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
                 <p ion-text color="accentLight">{{item.like.text}}</p>
              </button>
              <button transparent ion-button button-icon-clear text-capitalize icon-start clear (click)="onEvent('onComment', item, $event)">
                <ion-icon ion-text color="accentLight" [ngClass]="{'active' : item.comment.isActive}" [name]="item.comment.icon"></ion-icon>
                <p ion-text color="accentLight">{{item.comment.number}} {{item.comment.text}}</p>
              </button>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
