<!--Theme Appearance animation (Fade In Right)-->
<ion-header>
  <wizard-layout-2 [data]="headerData.data">
  </wizard-layout-2>

  <ion-navbar>
    <!-- <ion-title text-uppercase start>COMPANY LIST IN {{countryName}}</ion-title> -->
    <ion-buttons start>
      <h3>COMPANY LIST IN {{countryName}}</h3>

    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="choseCountry()">
        <p>Change Country </p>
        <ion-icon style="margin-left: 2px;" name="arrow-dropdown-circle"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="has-header has-subheader">
  <appearance-animation-layout-2 [data]="params.data" [events]="params.events">
  </appearance-animation-layout-2>
</ion-content>