<!-- Themes Login + logo -->
<ion-content style="background-color: transparent;"> 
  
    <ion-grid *ngIf="data != null" style="background-color: transparent;">
      <ion-row wrap padding>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <button ion-button button-clear clear (click)="onEvent('onSkip')">{{data.skip}}</button>
          <!---Logo-->
          <ion-thumbnail>
            <img padding-bottom [src]="data.logo">
          </ion-thumbnail>
          <!---Input field username-->
          <ion-item style="background-color: transparent;">
            <ion-label color="secondary" floating>{{data.username}}</ion-label>
            <ion-input required type="text" [(ngModel)]="username"></ion-input>
            <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>
          </ion-item>
          <!---Input field password-->
          <ion-item style="background-color: transparent;">
            <ion-label color="secondary" floating>{{data.password}}</ion-label>
            <ion-input required type="password" [(ngModel)]="password"></ion-input>
            <ion-label error-field color="secondary" no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}
            </ion-label>
          </ion-item>
          <ion-label error-field style="color:#ff0000" no-margin *ngIf="wrongUsernameOrPassword">{{wrong}}
          </ion-label>
          <!---Login button-->
          <button ion-button float-right default-button (click)="clickLogin()">{{data.login}}</button>
          <!---Register button-->
          <button ion-button float-right default-button (click)="onEvent('onRegister')">{{data.register}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>