<!-- Theme Segment - Segment List -->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title *ngIf="data != null">{{data.headerTitle}}</ion-title>
  </ion-navbar>
  <!--Segment Section -->
  <ion-toolbar no-padding>
    <div segment-block *ngIf="data != null">
      <ion-segment has-header [(ngModel)]="selectedItem">
        <ion-segment-button text-capitalize value="Page1">
          {{data.segmentButton1}}
        </ion-segment-button>
        <ion-segment-button text-capitalize value="Page2">
          {{data.segmentButton2}}
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>
<!-- Content-->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <!--- SETTINGS PAGE1 SCREEN -->
    <ion-row *ngIf="isEnabled('Page1')">
        <ion-col col-12 col-lg-4 *ngFor="let item of data.page1.items; let i= index" >
          <ion-card text-left margin-bottom padding>
            <img [src]="item.image" />
            <ion-card-content no-padding margin-top (click)="onEvent('onItemClick', item, $event)">
              <h1 card-title text-capitalize>{{item.title}}</h1>
              <h2 card-subtitle>{{item.subtitle}}</h2>
              <p card-body-text margin-top>{{item.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
    <!--- SETTINGS PAGE2 SCREEN -->
    <ion-row *ngIf="isEnabled('Page2')">
      <ion-col col-12 col-lg-4 *ngFor="let item of data.page2.items; let i= index">
        <ion-card text-left margin-bottom padding>
            <img [src]="item.image" />
          <ion-card-content no-padding margin-top (click)="onEvent('onItemClick', item, $event)">
            <h1 card-title text-capitalize>{{item.title}}</h1>
            <h2 card-subtitle>{{item.subtitle}}</h2>
            <p card-body-text margin-top>{{item.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
