<!--Theme Appearance animation (Fade In Right)-->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <ion-list no-margin blur sticky>
          <ion-list-header no-padding no-margin transparent>
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredList()"></ion-searchbar>
          </ion-list-header>
          <ion-item text-warp [ngClass]="animateClass" *ngFor="let item of filterData; let i = index;"
            (click)="onEvent('onItemClick', item.anpc_id, $event)">
            <ion-thumbnail item-start>
              <img [src]="item.anpc_profile_url" [alt]="item.alpc_company_name" />
            </ion-thumbnail>
            <h2 item-title padding-left>{{item.alpc_company_name}}</h2>
            <h2 style="color:red;" padding-left></h2>
            <ion-icon icon-small item-end (click)="onEvent('onFavorite', item, $event)">
              <i class="icon" [ngClass]="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}"></i>
            </ion-icon>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>