<!--Profile- Profile 1-->
<ion-content background-size [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">


  <ion-slides pager="false" [options]="slideOpts" #slides>
    <ion-slide>
      <ion-grid *ngIf="data != null" style="background-color: transparent;">
        <ion-row wrap padding style="background-color : rgba(247, 247, 247, 0.19);">
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <!---Input field username-->
            <div style="font-size: 30px;">
              <ion-label color="secondary">English Language</ion-label>
            </div>
            <ion-item>
              <h4>Image Preview</h4>
              <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
            </ion-item>
            <p>{{imageURI}}</p>
            <button ion-button default-button full text-capitalize (click)="imageCapturedGallery()">
              Choose Picture
            </button>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Company Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Company Country</ion-label>
              <ion-select>
                <ion-option value="TH">Thailand</ion-option>
                <ion-option value="CH">China</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Business Type</ion-label>
              <ion-select>
                <ion-option value="a">Automotive</ion-option>
                <ion-option value="b">Packaging</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Company Information</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <div style="background-color: #fcd736;">
              <ion-label color="primary">Looking For</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary">Employee</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Employee Requrements</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <br>
            <ion-item class="bg-trans">
              <ion-label color="secondary">Partner / Investment</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Partner/ Investment Requrements</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <br>
            <div style="background-color: #fcd736;">
              <ion-label color="primary">Contact</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Address</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>State</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>City</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Postal Code</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Website</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <div style="background-color: #fcd736;">
              <ion-label color="primary">Department Contacts</ion-label>
            </div>
            <br>
            <div>
              <ion-label color="secondary">Purchase Department</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <br>
            <div>
              <ion-label color="secondary">Sales Department</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <br>
            <div>
              <ion-label color="secondary">Human Resource Department</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>

            <button ion-button float-right default-button (click)="onEvent('onLogin')">Save</button>

            <button ion-button float-right default-button (click)="next()">Input Thai Language</button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid *ngIf="data != null" style="background-color: transparent;">
        <ion-row wrap padding style="background-color : rgba(247, 247, 247, 0.19);">
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <div style="font-size: 30px;">
              <ion-label color="secondary">Thai Language</ion-label>
            </div>
            <!---Input field username-->
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Company Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Company Country</ion-label>
              <ion-select>
                <ion-option value="TH">Thailand</ion-option>
                <ion-option value="CH">China</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Business Type</ion-label>
              <ion-select>
                <ion-option value="a">Automotive</ion-option>
                <ion-option value="b">Packaging</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Company Information</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <div style="background-color: #fcd736;">
              <ion-label color="primary">Looking For</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary">Employee</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Employee Requrements</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <br>
            <ion-item class="bg-trans">
              <ion-label color="secondary">Partner / Investment</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Partner/ Investment Requrements</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <br>
            <div style="background-color: #fcd736;">
              <ion-label color="primary">Contact</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Address</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>State</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>City</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Postal Code</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Website</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <div style="background-color: #fcd736;">
              <ion-label color="primary">Department Contacts</ion-label>
            </div>
            <br>
            <div>
              <ion-label color="secondary">Purchase Department</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <br>
            <div>
              <ion-label color="secondary">Sales Department</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <br>
            <div>
              <ion-label color="secondary">Human Resource Department</ion-label>
            </div>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Name</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Telephone</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>
            <ion-item class="bg-trans">
              <ion-label color="secondary" floating>Email</ion-label>
              <ion-input required type="text" [(ngModel)]="companyNameEng"></ion-input>
            </ion-item>

            <button ion-button float-right default-button (click)="onEvent('onLogin')">Save</button>
            <button ion-button float-right default-button (click)="prev()">Input English Language</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>