<!--
  Generated template for the CompanyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <wizard-layout-2 [data]="headerData.data">
      </wizard-layout-2>
</ion-header>

<ion-content >
    

    <div #frame style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important;-webkit-scrollbar: none">
      <iframe #iframe width="100%" height="100%" class="iframe" scrolling="yes" ></iframe>
    </div>
  </ion-content>