<!--Theme Appearance animation (Zoom In)-->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item [ngClass]="animateClass" *ngFor="let item of animateItems; let i = index;" (click)="onEvent('onItemClick', item.title, $event)">
            <ion-avatar item-start>
              <img [src]="item.image" [alt]="item.title" />
            </ion-avatar>
            <h2 item-title>{{item.title}}</h2>
            <ion-icon icon-small item-end (click)="onEvent('onFavorite', item, $event)">
              <i class="icon" [ngClass]="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}"></i>
            </ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
  <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
