// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Add Button Buy
================================================*/
ion-header {
  .toolbar-content-ios {
    .title-ios {
      left: 10px;
    }
  }
}

/* Style Big Images For MAIN Menu
================================================*/
[header-background-image] {
    min-height: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;
    ion-thumbnail {
        padding-top: 10px;
        img {
            margin: 0 auto;
            position: relative;
            z-index: 9;
            max-width: 150px;
        }
    }
    [item-title] {
        position: relative;
        z-index: 9;
    }
}

// Settings Icon Header
ion-header {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    width: auto !important;
    margin-left: 0 !important;
  }
}

/* Style MAIN menu
================================================*/
[main-menu] {
    ion-icon {
        color: theme-colors('textColors', 'primary');
        float: left;
        padding-left: 30px;
        margin-right: 10px;
    }
}

//
/* Style SUBMENU Settings
================================================*/
[submenu] {
    ion-label {
        padding-left: 30px !important;
    }
}

.chooseCountry{
     
  .alert-title {
    text-align: center;
  }
  .alert-sub-title {
    text-align: center;
  }

  .alert-message {
    text-align: center;
  }

  .alert-button-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

}
