<ion-split-pane when="md">
  <ion-menu [content]="content" *ngIf="params != null">
    <!-- Menu Main Top -->
    <ion-header padding background-size header-background-image menuClose style="background-color: #000;" (click)="openHomePage()">

      <ion-thumbnail text-center>
        <div text-center>
          <img src="../assets/images/logo/login.png">
        </div>
      </ion-thumbnail>

    </ion-header>
    <!-- Menu Main List -->
    <ion-content>

      <ion-list no-margin no-padding>
        <ion-item menuClose ion-item item-title no-padding main-menu text-wrap (click)="openHomePage()">
          <ion-icon slot="start" name="home"></ion-icon>
          <h2 padding-left *ngIf="menuLang">
            {{menuLang.home}}
          </h2>
        </ion-item>
        <ion-item menuClose ion-item item-title no-padding main-menu text-wrap (click)="openPage(3)">
          <ion-icon slot="start" name="search"></ion-icon>
          <h2 padding-left *ngIf="menuLang">
            {{menuLang.allCompany}}
          </h2>
        </ion-item>
        <ion-item menuClose ion-item item-title no-padding main-menu text-wrap (click)="openPage(p.almc_nature_id)" *ngFor="let p of pages; let i=index">
          <ion-icon slot="start" name="list-box"></ion-icon>
          <h2 padding-left>
            {{p.almc_name}}
          </h2>
        </ion-item>
        
        <div *ngIf="isCoperateUser">
          <ion-item ion-item item-title no-padding main-menu *ngFor="let profile of profilePages; let j=index" text-wrap
            (click)="toggleLevel1Profile('idx'+j)" [ngClass]="{active: isLevel1ShownProfile('idx'+j)}">
            <h2 padding-left>
              {{profile.menu}}
            </h2>
            <ion-list *ngIf="isLevel1ShownProfile('idx'+j)">
              <ion-item menuClose ion-item item-title no-padding main-menu
                *ngFor="let sub of profile.subMenu; let j2=index" text-wrap (click)="openProfilePage(sub.page)">
                <h2 padding-left>
                  {{sub.subMenu}}
                  <ion-icon color="success" item-right></ion-icon>
                </h2>
              </ion-item>
            </ion-list>
          </ion-item>
        </div>
        <ion-item ion-item item-title no-padding main-menu text-wrap>
          <ion-icon name="call"></ion-icon>
          <h2 padding-left *ngIf="menuLang">
            {{menuLang.contactUs}}
          </h2>
        </ion-item>
        <ion-item ion-item item-title no-padding main-menu text-wrap>
          <ion-icon name="people"></ion-icon>
          <h2 padding-left *ngIf="menuLang">
            {{menuLang.aboutUs}}
          </h2>
        </ion-item>
        <ion-item *ngIf="!isLogin" ion-item item-title no-padding main-menu text-wrap (click)="login()" menuClose>
          <ion-icon name="log-in"></ion-icon>
          <h2 padding-left *ngIf="menuLang">
            {{menuLang.login}}
          </h2>
        </ion-item>
        <ion-item *ngIf="isLogin" ion-item item-title no-padding main-menu text-wrap (click)="logout()" menuClose>
          <ion-icon name="log-out"></ion-icon>
          <h2 padding-left >
            Logout
          </h2>
        </ion-item>
      </ion-list>

    </ion-content>
    <ion-footer>
      <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;">Logout
      </ion-item>
    </ion-footer>
  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>