/* #Style -- Comment - Commnets Basic
================================================*/
comment-layout-1 {
    ion-avatar img {
        height: 70px !important;
        width: 70px !important;
      }
}


  