<!--
  Generated template for the CompanyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <wizard-layout-2 [data]="headerData.data">
      </wizard-layout-2>
</ion-header>

<ion-content >
    <user-profile [data]="params.data" [events]="params.events">
    </user-profile>
  </ion-content>